@using CloudNotes.Web.Models

@if (Notes != null)
{
    <ul class="list-group">
        @foreach (var note in Notes)
        {
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><Icon Name="IconName.FileEarmarkText" />@note.Title</h5>
                    <small>@note.DateCreatedRepresentation</small>
                </div>
            </a>
        }
    </ul>
}

@code {
    [Parameter]
    public NoteData[]? Notes { get; set; }
}
